.cart-item {
    display: grid;
    grid-template-columns: 3fr 5fr 3fr 1fr;
    height: 60px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: gray 1px solid;
}
.cart-total {
    display: flex;
    align-items: flex-end;
}
.remove-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-image {
    background-size: cover;
    background-position: 50% 50%;
    
}
.item-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-name h5, .item-name h6 {
    margin: 5px 0;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.total-cashout {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: left;
    margin-top: 10px ;
    width: 100%;
}
.total-cashout h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 20px;
    display: inline;
}
.pink-p {
    margin: 0;
    height: auto;
}
.bunny-img {
    max-width: 100%;
    height: 80%;
}
.center {
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.center p {
    align-self: center;
    margin: 5px;
    font-size: large;
}
@media screen and (max-width: 540px) {
    .cart {
        margin: 20px 10px 20px 10px;
    }
    .cart-page {
        left: -815%;
    }
    .cart-page .nav-icon {
        height: 1em;
    }
    .x-cart {
        left: 88%;
    }
    .price, .total-item {
        font-size: 12px;
    }
    .qte-itemtext {
        text-align: center;
    }
    .bunny-img {
        width: 100%;
        height: auto;
    }
}