.product {
    width: 350px;
    margin-top: 30px;
}
.product-img {
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.product-img button {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    padding: 10px 0;
    margin: 0;
}
.product-img:hover button {
    display: block;
}
.product-img:hover .favorites-icon {
    display: block;
}
.product-info {
    text-align: center;
}
.product-info h1, .product-info p, .product-info h2 {
    margin: 5px 0;
}
.product-info h2 {
    font-size: small;
}
.picture-to-click {
    width: 350px;
    height: 400px;
}
.favorites-icon {
    display: none;
    color: #f58f86;
    font-size: 1.7rem;
    cursor: pointer;
}
.heart-icon {
    align-self: flex-end;
    padding: 20px; 
}


@media screen and (max-width: 840px) {
    .product {
        width: 250px;
    }
    .product-img, .picture-to-click {
        height: 300px;
        width: 250px;
    }  
    .product-img button {
        font-size: 10px;
    }  
}
@media screen and (max-width: 540px) {
    .product-img button {
        display: block;
    }
}