.profile-page {
    background: #FCF6EE;
    width: 300px;
    height: 100vh;
    position: absolute;
    top: -75%;
    left: -322%;
    white-space: normal;
    z-index: 1001;  
}
.profile-page h1 {
    font-size: 1.5em;
}
.profile-page form {
    max-width: 300px;
    padding: 20px;
    display: flex; 
    flex-direction: column;
}
.profile-page input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
.profile-page button, .profile-page p {
    align-self: center;
    cursor: pointer;
    margin-top: 30px;
}
.profile-page p {
    color: #F9AFA6;
    text-decoration: underline;
    margin: 10px 0;
}
.flex {
    display: flex;
    justify-content: center;
}
.passwordpage img {
    margin: 20px;
    cursor: pointer;
}
.activatepage img {
    margin: 20px;
    cursor: pointer;
}
.activatepage {
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 540px) {
    .profile-page {
        left: -373%;
    }  
}
@media screen and (max-height: 450px) {
    #loginForm, #registrationForm {
        margin-top: -1.5rem;
        font-size: 12px;
    }
    #loginForm input{
        margin: 3px;
    }
    #loginForm button {
        margin: 5px;
    }
    #registrationForm input{
        margin: 3px;
        height: 20px;
    }
    #registrationForm button {
        margin: 5px;
    }
    .profile-page .flex button {
        margin: 2px;
    }
    .acc-links p {
        margin: 2px;
    }
}