body {
  margin: 0;
  padding-top: 55px;
  background-color: #FCF6EE;
  font-family: 'Amiko' , -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: 'Courgette';
}
h2 {
  font-family: 'Assistant';
}
h3 {
  font-family: 'Amiko';
}
.about-us-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
}
.about-us-container ol li{
  display: block;
  color: inherit;
  margin: 5px;
  list-style-type: square;
}
.about-us-container img {
  max-width: 90%;
  height: auto;
  margin: 20px;
}